$blue: #1565c0;
$blue-light: #3b83d5;
$gray: #333;
$white: #fff;

// Font Colors
$font-color--base: $gray;
$action-color: $blue;
$action-color--alt: $blue-light;
$action-color--contrast: $white;

// Background Colors
$viewport-background-color: $white;

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}